page-setting {
    ion-grid {
        background:goldenrod;
        padding: 0;
        height: 100%;
    }
    ion-row {
        flex: 1;
        align-content: center;
        padding-top: 10px;
    }
    .item{
            margin-bottom: 10px;
            background: rgba(255,255,255,0.5);
            border:medium none;
        }

}
